     body {
         background-color: #f4f8ff;
     }

     /* 
        .hero {
            background: linear-gradient(135deg, #0d6efd, #0b5ed7);
            color: #fff;
            padding: 80px 0;
        } */
     .hero-slide {
         min-height: 75vh;
         background-size: cover;
         background-position: center;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
     }

     .hero-slide::before {
         content: "";
         position: absolute;
         inset: 0;
         background: rgba(0, 0, 0, 0.45);
     }

     .hero-slide .container {
         position: relative;
         z-index: 2;
     }

     .hero {
         background:
             /* linear-gradient(rgba(13, 110, 253, 0.7), rgba(13, 110, 253, 0.7)), */
             url('Photo/Pathein.png') center/cover no-repeat;
         min-height: 75vh;
         /* screen height 75% */
         display: flex;
         align-items: center;

         background:
             linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
             url('Photo/Pathein.png') center center / cover no-repeat;

         color: #fff;
     }

     .category-card {
         transition: 0.3s;
         border-radius: 15px;
     }

     .category-card:hover {
         transform: translateY(-8px);
         box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
     }

     .icon-box {
         font-size: 40px;
         color: #0d6efd;
     }

     .navbar-brand span {
         font-size: 1.2rem;
         letter-spacing: 1px;
     }

     .service-card {
         border: none;
         border-radius: 18px;
         transition: all 0.35s ease;
         background: #ffffff;
         box-shadow: 0 8px 20px rgba(13, 110, 253, 0.08);
     }

     .service-card:hover {
         transform: translateY(-10px);
         box-shadow: 0 15px 35px rgba(13, 110, 253, 0.2);
     }

     .icon-circle {
         width: 80px;
         height: 80px;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         margin: auto;
         color: #fff;
         font-size: 36px;
         transition: 0.3s;
     }

     .service-card:hover .icon-circle {
         transform: scale(1.1);
     }

     a.text-decoration-none:hover h5 {
         color: #0d6efd;
     }