  body {
      background: linear-gradient(135deg, #e3f2fd, #f8fbff);
  }

  /* Hero Section */
  .hero-img {
      height: 400px;
      object-fit: cover;
      border-radius: 20px;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  }

  /* Info Box */
  .info-card {
      border: none;
      border-radius: 20px;
      padding: 20px;
      background: #fff;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  }

  /* Navigation Buttons */
  .nav-btn {
      border: none;
      padding: 12px 25px;
      border-radius: 50px;
      font-weight: 600;
      background: linear-gradient(135deg, #0d6efd, #00c6ff);
      color: #fff;
      transition: 0.3s;
      box-shadow: 0 10px 25px rgba(13, 110, 253, 0.3);
  }

  .nav-btn:hover {
      transform: translateY(-4px);
      background: linear-gradient(135deg, #084298, #0099cc);
      box-shadow: 0 15px 35px rgba(13, 110, 253, 0.45);
  }

  /* Tab Content */
  .tab-content-box {
      background: #ffffff;
      border-radius: 20px;
      padding: 25px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
      margin-top: 20px;
  }





  /*curriculum*/

  .curriculum-card {
      transition: 0.4s ease;
  }

  .curriculum-card:hover {
      transform: translateY(-10px) scale(1.02);
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  }

  .btn-gradient {
      background: linear-gradient(135deg, #0d6efd, #00c6ff);
      color: white;
      border: none;
      border-radius: 30px;
      padding: 8px 20px;
      transition: 0.3s;
  }

  .btn-gradient:hover {
      background: linear-gradient(135deg, #084298, #0099cc);
  }